html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

#home,
#portfolio,
#contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header,
nav,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

header,
footer,
h1,
h2 {
  text-align: center;
}

h2 {
  padding: 5% 0;
}

header {
  font-size: 2rem;
}

header p:first-child {
  margin: 0.5rem;
}

header p:last-child {
  font-size: 1.25rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #054fb9;
  padding: 8px;
}

#portfolio h1 {
  width: 95%;
  margin: auto;
  padding: 5% 0;
  border-bottom: 1px solid black;
}

.about-paragraph {
  width: 90%;
  margin: 5% auto;
  line-height: 1.5rem;
}

.list-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list-card {
  width: 90%;
  margin: 2% auto;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.post-content {
  width: 90%;
  margin: auto;
}

.contact-message {
  width: 90%;
  margin: auto;
}

.contact-message:last-child {
  margin-top: 15%;
}

.links-container {
  width: 90%;
  margin: 10% auto;
  text-align: center;
}

.link {
  font-size: 1.5rem;
  margin: 8px 0;
}

footer {
  margin-top: 10%;
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  font-size: 0.75rem;
  padding: 0 4px;
}

@media screen and (min-width: 600px) {
  a:hover {
    cursor: pointer;
    color: lightseagreen;
  }

  .list-container {
    flex-direction: row;
    width: 95%;
    margin: auto;
  }

  .list-card {
    margin: 8px;
  }

  .contact-message {
    margin-top: 2%;
    text-align: center;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
