html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer,
h1 {
  text-align: center;
}

header {
  font-size: 2rem;
}

header p:first-child {
  margin: 0.5rem;
}

header p:last-child {
  font-size: 1.25rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #054fb9;
  padding: 8px;
}

.about-paragraph {
  width: 90%;
  margin: 5% auto;
  line-height: 1.5rem;
}

.list-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list-card {
  width: 90%;
  margin: 2% auto;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.post-content {
  width: 90%;
  margin: auto;
}

footer p {
  font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
  .list-container {
    flex-direction: row;
  }

  .list-card {
    margin: 8px;
  }
}
